body {
  font-size: 10px;
  height: 150vh;
}

h1 {
  font-size: 2rem;
  font-family: Verdana, sans-serif;
  margin: 1rem 0;
  text-align: center;
}

img {
  max-width: 30rem;
}

svg {
  fill: #bfe2ff;
}
label:hover svg {
  fill: #fff;
}

input:checked + label svg {
  transition: transform 0.35s;
  transform: rotate(90deg);
  fill: #fff;
}
.accordion {
  margin: 2rem auto;
  border-radius: 2rem;
  max-width: 40rem;
}

.accordion .accordion-body {
  width: calc(100% - 4rem);
  margin: 0 auto;
  height: 0;
  color: rgba(0, 0, 0, 0);
  background: #edf2ec;
  line-height: 1.8rem;
  padding: 0 3rem;
  box-sizing: border-box;
  transition: color 0.5s, padding 0.5s;
  overflow: hidden;
}
.accordion .accordion-body p {
  margin: 0 0 1rem;
}
.accordion label {
  border-radius: 2rem;
  cursor: pointer;
  background-color: #293241;
  display: block;
  padding: 1rem 2rem;
  width: 100%;
  color: #bfe2ff;
  font-weight: 300;
  box-sizing: border-box;
  z-index: 100;
  font-family: Verdana, sans-serif;
  font-size: 1rem;
  margin: 0 0 0.5rem;
  transition: color 0.35s;
  display: flex;
  justify-content: space-between;
}
.accordion label:hover {
  color: #fff;
}
.accordion input {
  display: none;
}

.accordion input:checked + label {
  background-color: #293241;
  color: #fff;
}
.accordion input:checked + label:before {
  transition: transform 0.35s;
  transform: rotate(90deg);
}
.accordion input:checked + label + .accordion-body {
  height: auto;
  margin-top: -0.5rem;
  color: #000;
  padding: 2rem 3rem 1.5rem;
  display: flex;
  justify-content: center;
}

.accordion .accordion-body {
  width: calc(100% - 4rem);
  margin: 0 auto;
  height: 0;
  color: rgba(0, 0, 0, 0);
  background-color: #3a5a80;
  line-height: 1.8rem;
  padding: 0 1rem;
  box-sizing: border-box;
  transition: color 0.5s, padding 0.5s;
  overflow: hidden;
  font-family: Verdana, sans-serif;
}
.accordion .accordion-body p {
  margin: 0 0 1rem;
}

.accordion label:hover {
  color: #fff;
}
.accordion label:hover + .accordion-body {
  height: auto;
  margin-top: -0.5rem;
  color: #000;
  padding: 1rem 2rem 1rem;
  display: flex;
  justify-content: center;
}

.accordion input {
  display: none;
}

.DiCaprio {
  width: 40rem;
}

.explorer {
  width: 40rem;
}

.Vitaly {
  width: 40rem;
}

.project {
  width: 40rem;
}

.relax {
  width: 40rem;
}
